.bg-purple {
  background-color: #1e215a;
}

.card_custom {
  position: relative;
  border-radius: 10px;
  background-color: transparent;
}

.card_custom .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  z-index: 1;
}

.card_custom .icon {
  background: #1e215a;
}

.card_custom .icon img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s;
  color: #fff;
}

.card_custom .icon p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  transition: 0.7s;
  color: #fff;
}

.card_custom .icon .price {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  transition: 0.7s;
  color: #fff;
}

.card_custom .face .view_token {
  color: #fff;
  position: absolute;
  top: 2%;
  left: 65%;
}

.card_custom .face {
  width: 300px;
  height: 300px;
  transition: 0.5s;
  border-radius: 0px 0px 20px 20px !important;
}

.card_custom .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card_custom:hover .face.face1 {
  background: #ff0057;
  transform: translateY(0px);
}

.card_custom .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.card_custom:hover .face.face1 .content {
  opacity: 1;
}

.card_custom .face.face1 .content i {
  max-width: 100px;
}

.card_custom .face.face2 {
  position: relative;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.card_custom:hover .face.face2 {
  transform: translateY(0);
}

.card_custom .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.card_custom .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

a {
  text-decoration: none;
  color: #414141;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.5s;
}

ul li a:hover {
  text-decoration: none;
}

ul li a .fa {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}

ul li:nth-child(1) a:hover .fa {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fa {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fa {
  color: #007bb6;
}

ul li:nth-child(4) a:hover .fa {
  color: #e4405f;
}

.projectFactsWrap .item {
  width: 25%;
}

.projectFactsWrap .item p.number {
  font-size: 20px;
  font-weight: bold;
}

.projectFactsWrap .item p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-family: 'Open Sans';
}

.projectFactsWrap .item i {
  font-size: 30px;
}
