.partl{
    width: 45% !important;
    /* margin-right: 10% !important; */
}

.partm{
    width: 10% !important;
}

.partr{
    width: 45% !important;
    /* margin-right: 10% !important; */
}

.synccontainer{
    margin-left: 25% !important;
    margin-top: 25% !important;
}

.partlb{
    margin-left: 0% !important;
    margin-right: 0% !important;
    width: 40% !important;
}


.partrb{
    margin-left: 20% !important;

    width: 40% !important;
}

.partb{
    width: 100% !important;
    /* margin-left: 20% !important;
    margin-right: 20% !important; */
}

.partb1{
    /* margin-left: 20% !important; */
    margin-right: 10% !important;
    width: 40% !important;
}

.partb2{
    margin-left: 10% !important;
    /* margin-right: 20% !important; */
    width: 60% !important;
}

.button{
    margin-left: 20% !important;
    margin-right: 20% !important;
    width: 60% !important;
}

.card{
    width: 80% !important;
    border-radius:  20px !important;
<<<<<<< HEAD
    background-color: #1e215a !important;
=======
>>>>>>> origin/polygon-canvaswap
}

.card_img_top {
    position: absolute;
<<<<<<< HEAD
    top: -300px;
    left: 48%;
    margin-left: -30px;
    width: 600px !important;
    height: 600px;

=======
    top: -40px;
    left: 49%;
    margin-left: -30px;
    width: 90px !important;
    height: 90px;
>>>>>>> origin/polygon-canvaswap
}

@media (max-width: 800px) {
    .card{
        width: 100% !important;
    }
}